<svelte:head>
    {#if title && headContent.indexOf('<title>') < 0 }
        <title>
            { title }
        </title>
    {/if}
    { @html headContent }
</svelte:head>
<main>
    { @html bodyContent }
</main>

<script>
export default {
    data: () => ({
        layout: '',
        head: '',
        pkg: {},
        page: {
            date: null,
            inputPath: '',
            fileSlug: '',
            url: '',
            outputPath: '',
        },
        collections: {},
        content: '',
        layoutContent: '',
    }),
    computed: {
        url: ({ page }) => page.url,
        props: (state) => state,
        headContent: ({content, props}) => content.render ? content.render(props).head : content.head || '',
        bodyContent: (state) => {
            const {content} = state;
            if(state.components) { console.log("props", state); }
            return content.render ? content.render(state) : content.html
        }
    }
}
</script>